<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentPracticle"
        tools:targetApi="31">

        <activity
            android:name=".khushi.khushi.khushi.id.id.khushi_id_activity"
            android:exported="false" />
        <activity
            android:name=".shakshi.s_idcardlist.s_idmainactivity"
            android:exported="false" />
        <activity
            android:name=".khushi.Mylist"
            android:exported="false" />
        <activity
            android:name=".khushi.khushi.kadvance"
            android:exported="false" />
        <activity
            android:name=".kunal.Kunal"
            android:exported="false" />
        <activity
        android:name=".kunal.studentlist.kunal_student_advence_list"
        android:exported="false" />
        <activity
            android:name=".kunal.kunal_advance_list.kunal_advance_list"
            android:exported="false" />
        <activity
            android:name=".shakshi.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".shakshi.advancelist.s_advancelist"
            android:exported="false" />

        <activity
            android:name=".Yash.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>